<div class="donation">
  <div class="content">
    <h3>Select date & time to deliver items.</h3>
    <p>
      We are working on integrated delivery, however, currently you will need
      to arrange delivery to the recipient. If you are going in person, please
      be mindful of the disaster situation and always meet in public space.
    </p>
  </div>
  <div class="date-time">
    <div class="calendar-container">
      <div id="calendar"></div>
    </div>
    <div class="time-container">
      <div id="time"></div>
    </div>
  </div>
  <p>{{ selectedDate }} - {{ selectedTime }}</p>
  <!-- <button (click)="check()" style="padding: 10px">check</button> -->
</div>
