<div class="thanks" *ngIf="deckType !== 'need' && deckType !== 'giver'">
  <img [src]="typeImage" alt="success image report" class="thanks__img" />
  <p class="thanks__title">
    {{ reportSuccessText.result | translate}}
  </p>
  <p class="thanks__subtitle">
  {{ reportSuccessText.title | translate}} <a href="{{reportUrlText | translate}}">{{reportUrlText | translate}}</a> {{ reportSuccessText.subTitle | translate}}
  </p>

  <p *ngIf="isShowReportAgain" class="thanks__again">
    {{ reportAgainText | translate}}
  </p>
  <div *ngIf="isShowReportAgain" class="thanks__btn-group">
    <a class="thanks__btn" (click)="reportAnotherCard()">{{
      'card.thank.acceptButton' | translate
    }}</a>
    <a class="thanks__btn" (click)="isShowReportAgain = false">{{
      'card.thank.rejectButton' | translate
    }}</a>
  </div>
</div>
<div class="needs_thanks" *ngIf="deckType === 'need' || deckType === 'giver'">
  <img [src]="typeImage" alt="success image report" class="thanks__img" />
  <h3> {{ reportSuccessText.result | translate}}</h3>
  <div *ngIf="deckType === 'need'">
    <p>{{ needSuccessText1 }}</p>
    <p>{{ needSuccessText2 }}</p>
  </div>
  <div *ngIf="deckType === 'giver'">
    <p>Thank you for your commitment</p>
  </div>
</div>
