<div class="thanks">
  <img [src]="typeImage" alt="success image report" class="thanks__img">
  <p class="thanks__title">
    {{ reportSuccessText.result | translate}}
  </p>
  <p class="thanks__subtitle">
  {{ reportSuccessText.title | translate}} <br> {{ reportSuccessText.subTitle | translate}}
  </p>

  <p *ngIf="isShowReportAgain" class="thanks__again">
    {{ reportAgainText | translate}}
  </p>
  <div *ngIf="isShowReportAgain" class="thanks__btn-group">
    <a *ngIf = "deckService.getDeckType() !== 'typhoon'" class="thanks__btn" (click)="reportAnotherCard()">{{'card.thank.acceptButton' | translate}}</a>
    <ng-container *ngIf = "deckService.getDeckType() ==='typhoon'">
      <a class="thanks__btn" (click)="reportTyphoonCard(options.opt1)">{{options.opt1 | translate}}</a>
      <a class="thanks__btn" (click)="reportTyphoonCard(options.opt2)">{{options.opt2 | translate}}</a>
    </ng-container>
    <a class="thanks__btn" (click)="isShowReportAgain = false">{{'card.thank.rejectButton' | translate}}</a>
  </div>
</div>