<div class="thanks" *ngIf="deckType !== 'need' && deckType !== 'giver'">
  <img [src]="typeImage" alt="success image report" class="thanks__img" />
  <p class="thanks__title">
    {{ reportText.result | translate}}
  </p>

  <p class="thanks__subtitle">
    <ng-container *ngIf="isError; else successText">
      {{ reportText.title | translate}}  {{ reportText.subTitle | translate}}
    </ng-container>
    <ng-template #successText>
      {{ reportText.title | translate}} <a href="{{reportUrlText | translate}}">{{reportUrlText | translate}}</a> {{ reportText.subTitle | translate}}
    </ng-template>
  </p>

  <p class="thanks__subtitle">
  {{ reportSuccessText.title | translate}} <a href="{{reportUrlText | translate}}">{{reportUrlText | translate}}</a> {{ reportSuccessText.subTitle | translate}}
  </p>

  <p *ngIf="isShowReportAgain" class="thanks__again">
    {{ reportAgainText | translate}}
  </p>
  <div *ngIf="isShowReportAgain" class="thanks__btn-group">
    <a class="thanks__btn" (click)="reportAnotherCard()">{{
      'card.thank.acceptButton' | translate
    }}</a>
    <a class="thanks__btn" (click)="isShowReportAgain = false">{{
      'card.thank.rejectButton' | translate
    }}</a>
  </div>
</div>
<div class="need_thanks" *ngIf="deckType === 'need' || deckType === 'giver'">
  <img [src]="typeImage" alt="success image report" class="thanks__img" />
  <h3 class="need_thanks__title"> {{ reportSuccessText.result | translate}}</h3>
  <div *ngIf="deckType === 'need'" class="need_thanks__subtitle">
    <div *ngIf="reportType === 'training'" >
      <p >{{ needSuccessText1 }}</p>
      <p >
        {{ reportText.title | translate}} <a href="{{reportUrlText | translate}}">{{reportUrlText | translate}}</a> {{ reportText.subTitle | translate}}
      </p>
    </div>
    <div *ngIf="reportType === 'real'">
      <p >{{ needSuccessText1 }}</p>
      <p >{{ needSuccessText2 }}</p>
    </div>
  </div>
  <div *ngIf="deckType === 'giver'" class="need_thanks__subtitle">
    <p >{{ giverSuccessText }}</p>
  </div>
</div>
