.type {
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.type-hidden{
  display:none;
}

.type-outer{
  display: flex;
  min-height: 90vh;
}

@media (max-width: 721px) {
  .type {
    flex-direction: column;
  }
}
