.card {
  padding: 10px;
  margin: 10px;
  display: flex;
  gap: 12px;
  > div {
    padding: 10px;
    border: 1px solid #ddd;
    width: 100px;
  }
}
.cardsList {
  overflow: auto;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0 5px;
  cursor: pointer;
}

.categoryList {
  display: flex;
  gap: 10px;
  > button {
    padding: 10px;
    border: 1px solid;
  }
}

.productsWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.categoryimg {
  width: 62px;
  height: 62px;
}
