.flex {
  display: flex;
  gap: 20px;
}

.m20 {
  margin-top: 20px;
}
.productCard {
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  h3 {
    margin-right: auto;
    margin-block-start: 3px;
  }
  > div:last-child {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
  button {
    background-color: white;
    color: #25b6ff;
    border: 1px solid #25b6ff;
    font-size: 16px;
    width: 24px;
    height: 24px;
  }
}

.card {
  padding: 10px;
  margin: 10px;
  display: flex;
  gap: 12px;
  > div {
    padding: 10px;
    border: 1px solid #ddd;
    width: 100px;
  }
}
.cardsList {
  overflow: auto;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0 5px;
  cursor: pointer;
}

.categoryList {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  > button {
    padding: 10px;
    border: 1px solid;
  }
  overflow-x: auto;
  overflow-y: hidden;
}
.categoryList::-webkit-scrollbar {
  width: 0px !important;
}
.productsWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  > div:last-child {
    padding: 20px;
    background-color: #808080;
    width: 300px;
    margin-bottom: 20px;
  }
}

.category-card {
  padding: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  border: 4px solid white;
}

.category-card.active {
  border: 4px solid #00aaff;
}
.scroll {
  overflow: auto;
  scroll-behavior: smooth;
  margin-bottom: 20px;
  padding: 20px;
  height: 100vh;
  width: 300px;
}
.scroll::-webkit-scrollbar {
  width: 0px !important;
}

.categoryimg {
  width: 42px;
  height: 42px;
  object-fit: contain;

}

.productimg {
  width: 82px;
  height: 82px;
  object-fit: contain;
}
