<button 
  type="button" (click)="onClick()" 
  [disabled]="isDisabled"
  [ngClass]="{
    'button-right': type === 'right',
    'button-left': type === 'left',
    'hiddenButton': isBtnHidden,
    'unclickableBtn': isDescription
  }"
>
  <i [ngClass]="['fa', 'fa-chevron-' + type, 'arrow-' + type]"></i>
  {{ text }}
</button>

<!-- Modal start--> 
<!-- make it only for need -->
<div *ngIf="showModal " class="modal">
  <h3>{{ getTranslation('title') }}</h3>
  <p>{{ getTranslation('p1') }}</p>
  <p>{{ getTranslation('p2') }}</p>

  <div class="modalInput">
    <label class="label">{{ getTranslation('address') }} <span class="asterisk">*</span></label>
    <input class="input" type="text" [(ngModel)]="userAddress.address" />
    
    <label class="label">{{ getTranslation('city') }} <span class="asterisk">*</span></label>
    <input class="input" type="text" [(ngModel)]="userAddress.city" />
    
    <label class="label">{{ getTranslation('province') }} <span class="asterisk">*</span></label>
    <input class="input" type="text" [(ngModel)]="userAddress.province" />
    
    <label class="label">{{ getTranslation('postal') }} <span class="asterisk">*</span></label>
    <input class="input" type="text" [(ngModel)]="userAddress.postal" />
    
    <label class="label">{{ getTranslation('notes') }}</label>
    <input class="input" type="text" [(ngModel)]="userAddress.notes" />
  </div>
  <hr>

  <div class="btn">
    <button class="saveBtn"
      (click)="saveDescription()"
      [disabled]="!isUserAddressValid">
      {{ getTranslation('save') }}
    </button>
  </div>
</div>
<!-- Modal end-->
