:host {
  flex: 1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 40px;
  font-size: 14px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  transition: background-color .5s;
  background-color: rgba(66, 66, 66, 0.3);
  color: white;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &.button-right {
    flex-direction: row-reverse;
  }

  &:disabled {
    color: #888;
  }

  &.hiddenButton {
    &.button-right {
      visibility: hidden;
    }
  }

  &.unclickableBtn{
    &.button-right {
      pointer-events: none;
      cursor: not-allowed;
      color: #888;
    }
  }

  &.button-default {
    &:focus{
      outline: none;
      background-color: rgb(37, 150, 190);
      border: none;
      color: white;
    }
  }

  &:focus {
    outline: none;
    background-color: rgba(66, 66, 66, 0.3);
    color: white;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:active {
    outline: none;
    background: #5e5e5e;
    transform: translateY(1px);
    border-bottom: 0;
  }

  .arrow {
    &-left {
      margin-right: 5px;
    }

    &-right {
      margin-left: 5px;
    }
  }
}



@media (max-width: 321px) {
  button {
    width: 125px;
  }
}

.modal {
  display: block;
  position: fixed;
  top: 51%;
  left: 50%;
  height: 650px;
  margin-block: 20px;
  width: 350px;
  transform: translate(-50%, -50%);
  padding: 22px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  z-index: 1000;
  transform: translate(-50%, -50%);

  textarea {
    width: 100%;
    height: 20%;
    margin-bottom: 14px;
    resize: none;
    border-radius: 10px;
  }
  button {
    background-color: #b8b3b3;
    padding: 8px 12px;
    border-radius: 20px;
    color: white;
    border: none;
    width: 150px;
  }
  .modalInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }
  hr {
    margin: 0;
  }
  p {
    margin: 0;
  }
  .input {
    border-radius: 20px;
    height: 30px;
    border: 1px solid;
    padding: 0 10px;
    font-size: 15px;
  }
  .btn {
    display: flex;
    flex-direction: row-reverse;
  }
  .saveBtn {
    cursor: pointer;
    background-color: #00aaff;

    &:disabled {
      background-color: #888;
    }
  }
}

@media (max-width: 420px) {
  .modal {
    height: 690px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 52%;
    p {
      margin: 0;
      font-size: 15px;
    }
    h3 {
      margin: 0;
    }
    hr {
      margin: 0;
    }
  }
  .modalInput {
    height: 300px;
    overflow: scroll;
  }
}
