.captchaContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.productreview{
    background-color: white;
    height: 76vh;
}

.footer{
    background-color: #808080;
    width: 350px;
    margin-inline: auto;
    padding-inline: 20px;
    padding-block: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}



.rc-anchor-dark{
    border: none;
    background: #808080;
}