<div class="deck">
  <div>
    <app-title-box [title]="'card.titles.' + navController.getCardPath() | translate">
    </app-title-box>
  </div>

  <div *ngIf="isShowButtons" class="centered">
    <ng-template ngFor let-item [ngForOf]="items">
      <app-report-type-button
        [title]="item.title | translate"
        [subtitle]="item.subtitle | translate"
        (click)="onTypeSelected(item.subType)"
        [btnClasses]="item.subType === 'real' ? 'real_btn' : item.subType === 'training' ? 'training_btn' : ''"
      ></app-report-type-button>
    </ng-template>
  </div>
  
  <router-outlet>
  </router-outlet>



  <div
    id="navWrapper"
    *ngIf="navController.getCurrentRouteName() !== 'type' && navController.getCurrentRouteName() !== 'thank'"
  >
    <app-nav-button
      type="left"
      [text]="'deck.prev' | translate"
      (navigate)="navController.back(route)"
    >
    </app-nav-button>

    <app-nav-button
      type="right"
      [text]="'deck.next' | translate"
      (navigate)="navController.next(route)"
      *ngIf="navController.cardCounter < navController.cardRoutes.length - 2"
    >
    </app-nav-button>
    <app-submit-button [title]="submitButtonTitle | translate" [variant]="'nav'" *ngIf="navController.cardCounter === navController.cardRoutes.length - 2">
    </app-submit-button>
  </div>
</div>
