<div class="type" *ngIf="deckType === 'needs'">
  <button
    class="SubmitButton"
    (click)="needSubmit()"
    [disabled]="!canSubmit()"
  >
    Submit Request
  </button>
</div>
<div class="type" *ngIf="deckType === 'giver'">
  <button
    class="SubmitButton"
    (click)="giverSubmit()"
    [disabled]="!canSubmit()"
  >
    Submit Giver Request
  </button>
</div>
<div class="type" *ngIf="!['needs','giver'].includes(deckType)">
  <button type="button" (click)="submit()" [disabled]="!canSubmit()">
    {{ title }}
  </button>
</div>


