<div class="type" *ngIf="deckType === 'need'">
  <button
    [ngClass]="{'button-right': variant === 'nav', 'SubmitButton': variant === 'default'}"
    (click)="needSubmit()"
    [disabled]="!canSubmit()"
  >
   {{ submitButtonLabel }}
  </button>
</div>
<div class="type" *ngIf="deckType === 'giver'">
  <button
    [ngClass]="{'button-right': variant === 'nav', 'SubmitButton': variant === 'default'}"
    (click)="giverSubmit()"
    [disabled]="!canSubmit()"
  >
  {{ submitButtonLabel1 }}
  </button>
</div>
<div class="type" *ngIf="!['need','giver'].includes(deckType)" [ngClass]="{'nav-button-wrapper': variant === 'nav'}">
  <button type="button" (click)="submit()" [disabled]="!canSubmit()" [ngClass]="{'button-right': variant === 'nav', 'SubmitButton': variant === 'default'}">
    <span *ngIf="isLoading" class="loadText"> 
      {{loadingText}}  <span class="spinner"> </span>
    </span>
    <span *ngIf="!isLoading" > {{ title }}</span>
  </button>
</div>


