button {
  display: block;
  color: white;
  margin: 20px auto 10px;
  border-radius: 7.5px;
  padding: 10px 50px;
  border: 1.5px solid white;
  background-color: #6d6e6d;
  cursor: pointer;
  width: 300px;
  &:disabled {
    // color: #888;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.spinner{
  border: 2px solid #f3f3f3;          
  border-top: 2px solid #6d6e6d;       
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
  display: inline-block;
  // margin-right: 8px;
}

@media (max-width: 721px) and (max-height: 761px) {
  .button {
    padding: 7.5px 37.5px;
  }
}

@media (max-height: 569px) {
  button {
    padding: 5px 35px;
  }
}

@media (max-width: 600px) {
  .SubmitButton {
    bottom: 40px;
    width: 250px;
  }
}

.SubmitButton {
  background-color: #00aaff;
  border: none;
  font-weight: bolder;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
  &:disabled {
    // color: #888;
    // border: 1.5px solid white;
    background-color: #00aaff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }
}
