.report-type {
  cursor: pointer;

  &__btn {
    display: block;
    color: #c34c4d;
    margin: 20px auto 10px;
    border-radius: 7.5px;
    padding: 8px 6px;
    min-width: 72px;
    border: 1.5px solid white;
    background-color: #fff;
    cursor: pointer;
    min-width: 30%;
    line-height: 1;
    font-size: 1.2rem;
    filter: drop-shadow(2px 4px 6px black);
  }

}

@media (max-width: 721px) and (max-height: 761px) {
  .report-type {
    &__btn {
      padding: 7.5px 37.5px;
    }
  }
}

@media (max-height: 569px) {
  .report-type {
    &__btn {
      padding: 5px 35px;
    }
  }
}